<%- layout("layouts/boilerplate.ejs") %>
    <h1>All campgrounds</h1>
    <div class="campgrounds-wrapper">
        <% for (let campground of campgrounds) {%>
            <div class="card">
                <img src="<%= campground.image %>" alt="">
                <div class="card-content">
                    <a class="card-title" href="campgrounds/<%=campground._id%>">
                        <%=campground.title%>
                    </a>
                    <div class="card-location">
                        <%= campground.location %>
                    </div>
                    <div class="card-price">
                        $<%= campground.price %>/night
                    </div>
                </div>
            </div>
            <% } %>
    </div>